@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8"/>
    <title>註冊頁面</title>
    <style type="text/css">
        body {
            height: 100%; /* 将页面高度设置为100% */
            background-color: #E8D5C4;
        }

        .form {
            position: absolute; /* 设置绝对定位以居中 */
            top: 50%; /* 将表单置于页面的中心 */
            left: 50%; /* 将表单置于页面的中心 */
            transform: translate(-50%, -50%); /* 使用transform平移将表单向上和向左移动50%的宽度和高度 */
        }

        form {
            width: 400px; /* 设置表单的宽度为400像素 */
            height: 700px; /* 设置表单的高度为400像素 */
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); /*陰影效果*/
            background-color: #FFF1DC;
        }

        /*靠右下角*/
        .right-bottom {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 5px;
        }

        label, input {
            margin-bottom: 10px;
        }

        .button-style {
            width: 50%;
            font-size: large;
            background-color: #3A98B9;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }


    </style>
</head>
<body>
    <form class="form">

        <div>
            <h1 style="text-align: center;">歡迎來到註冊系統</h1>
        </div>

        <label for="username">用戶名:</label>
        <input style="height:30px" type="text" id="username">

        <label for="userbirth">出生日:</label>
        <input style="height:30px" type="text" id="userbirth">

        <label for="usermail">電子郵件:</label>
        <input style="height:30px" type="text" id="usermail">

        <label for="usercard">身分證:</label>
        <input style="height:30px" type="text" id="usercard">

        <label for="useraccount">帳號:</label>
        <input style="height:30px" type="text" id="useraccount">

        <label for="password">密碼:</label>
        <input style="height:30px" type="password" id="password"><br />

        <div style="display: flex; flex-direction: row; justify-content:center;">
            <input class="button-style" type="button" onclick="Register_Login()" value="完成" />
        </div>

        <p class="right-bottom">當前時間是: <span id="GetTime"></span></p>

    </form>
    <script type="text/javascript">
        //在頁面載入完成後顯示
        window.onload = function () {
            updateTime();
        }

        // 每秒钟调用updateTime()函数以更新时间
        setInterval(updateTime, 1000);

        //獲取時間
        function updateTime() {

            var now = new Date(); // 获取当前时间
            var year = now.getFullYear(); // 获取当前年份
            var month = now.getMonth() + 1; // 获取当前月份
            var day = now.getDate(); // 获取当前日期
            var hour = now.getHours(); // 获取小时
            var minute = now.getMinutes(); // 获取分钟
            var second = now.getSeconds(); // 获取秒数

            // 将月份、日期、小时、分钟和秒数转换为两位数的字符串格式
            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;
            if (hour < 10) hour = "0" + hour;
            if (minute < 10) minute = "0" + minute;
            if (second < 10) second = "0" + second;

            // 将时间格式化为字符串
            var timeString = year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second;

            document.getElementById("GetTime").innerHTML = timeString; // 更新页面上的时间
        }
      
    </script>
</body>
</html>
