
@{
    ViewBag.Title = "Line Push";
}

@if (TempData["ErrorMessage"] != null)
{
    <script>
    //我們使用 Json.Encode 方法將錯誤訊息轉換成 JSON 格式的字串。Html.Raw 方法可以讓我們直接將字串輸出到 HTML 中，而不會被 Razor 引擎轉義。
    //最後使用 alert 函式顯示錯誤訊息。
        var errorMessage = @Html.Raw(Json.Encode(TempData["ErrorMessage"].ToString()));
        alert(errorMessage);
    </script>
}
<form method="post" action="/Home/Push">
    @*在表單中最重要的就是各個 input 的 name 屬性，當資料傳送的時候，會使用 name 做為資料的欄位名稱。
        因此這邊的 name 一定要能和我們的 MyWeb 物件的資料對應上，才能讓它自動轉換。*@
    <h2>@ViewBag.Title</h2>
    <br />

    <div class="form-group row">
        <label for="User_Text" class="col-sm-2">推播內容:</label>
        <div class="col-sm-10">
            <input type="text" id="User_Text" name="sMsg" class="form-control" />
            <input class="btn btn-default" type="submit" value="推播" />
        </div>

    </div>

</form>

